@font-face {
    font-family: "バナナフォント";
    src: url("../materials/bananaslip_plus/bananaslip_plus/bananaslipplus.otf") format("opentype");
  }

body {
    /* background-color: rgba(1, 12, 30, 0.2); */
    /* background-color: rgb(236, 241, 244); */
    background-color: white;
    font-family: "バナナフォント";
}

.rounded-image {
    border-radius: 50%;
    cursor: pointer;
}

.nav-hov :hover {
    border-bottom: #2d56a0 3px solid;
}

.fixed-top {
    position: fixed;
    /* 画面上部に固定 */
    width: 100%;
    /* 幅を100%に設定 */
    top: 0;
    /* 上端に固定 */
    z-index: 1000;
    /* 他の要素よりも手前に表示 */
}

.myline{
    width: 100%;
    border: #2d56a0 solid 1px;
}

.z {
    z-index: 10000;
    /*重要*/
}

.logo {
    width: 15%;
}

.transparent {
    background-color: transparent !important;
}


.blue {
    color: #2d56a0;
}

.rowrow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.colcol {
    width: 13%;
    /* デフォルトは1列に */
}

.colcol :hover {
    width: 90%;
    opacity: 0.5;
}

.button {
    width: 30%;
    margin: auto
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 80%;
    transform: translate(-50%, -50%);
    padding-top: 3rem;
    background-color: rgb(236, 241, 244);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow-y: auto;
    border-radius: 10px;
}

.modalbg {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.gazou{
    width: 20%;
}

.gazou2{
    width: 5%;
}

/*
右から左へ
----------------------------*/
@keyframes infinity-scroll-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  /*
  IE11対策
  ----------------------------*/
  _:-ms-lang(x)::-ms-backdrop,
  .d-demo {
    display: -ms-grid;
    overflow: hidden;
  }
  /*----------------------------*/
  
  .d-demo__wrap {
    display: flex;
    overflow: hidden;
    background-color: #555555;
  }
  
  .d-demo__list {
    display: flex;
    list-style: none;
  }
  
  .d-demo__list--left{
  animation :infinity-scroll-left 60s infinite linear 0.5s both;
  }
  
  .d-demo__item {
     /* width: calc(100vw / 5);  */
     height: calc(100vh / 5);
  }
  .d-demo__item > img{
     /* width: 100%; */
     height: 100%;
  }

  
  .carousel {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding: 1rem;
    z-index: 2;
}

.box {
    flex: 0 0 auto;
    width: 200px;
    height: 137px;
    margin-right: 1rem;
    background-color: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.delate-hover {
    pointer-events: none;
  }

@media (max-width: 576px) {
    .colcol {
        width: 50%;
        /* スマートフォン幅以上の場合は2列に */
    }

    .logo {
        width: 30%;
    }

    .gazou{
        width: 50%;
    }

    .gazou2{
        width: 10%;
    }

    /* .d-demo__item {
        width: calc(100vw / 3); 
     } */
}

